<IfModule mod_headers.c>
  Header set Connection keep-alive

  # images - 1 week
  <filesMatch "\.(ico|pdf|jpg|jpeg|png|gif)$">
    Header set Cache-Control "max-age=604800, public"
  </filesMatch>

  # script - 1 day
  <filesMatch "\.(js)$">
    Header set Cache-Control "max-age=86400, public"
  </filesMatch>

  # css - 1 hour
  <filesMatch "\.(css)$">
    Header set Cache-Control "max-age=3600, public"
  </filesMatch>

  # html - 1 hour
  <filesMatch "\.(htm|html)$">
    Header set Cache-Control "max-age=3600, public"
  </filesMatch>

</IfModule>
