html {
  font-size: 62.5%;
  font-family: serif;
}

body {
  max-width: 1024px;
  margin: auto;
  font-size: 1.8rem;
  line-height: 1.618;
  color: black;
  background-color: #f0f0f0;
}

a {
  color: black;
}

a:hover {
  color: #006496;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  font-family: Verdana, sans-serif;
  font-weight: bold;
  text-align: center;
}

h1 {
  font-size: 1.6em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.0em;
}

#header img {
  width: 100%;
}

#nav {
  border-bottom: 1px solid;
}

#nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#nav li {
  display: inline;
  border: solid;
  border-width: 1px 1px 0 1px;
  border-radius: 8px 8px 0 0;
  margin: 0 5px 0 0;
  padding: 0 0 5px 0;
  background: silver;
  white-space: nowrap;
  font-size: 0.95em;
}

#nav li a {
  padding: 0 10px;
  text-decoration: none;
}

#nav .nav-selected {
  padding-bottom: 6px;
  background: #f0f0f0;
}

#footer {
  border-top: 1px solid;
  background: silver;
  padding: 0 20px 10px 20px;
  width: 100%;
}

#footer h5 {
  font-size: 0.9em;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
  line-height: 0;
  margin: 1em 0;
  /* padding: 0; */
}

#footer table {
  margin: auto;
}

#footer th {
  text-align: right;
  padding: 0.5em 1em 0 0;
}

#footer td {
  text-align: right;
  padding: 0.5em 1em 0 0;
}

.demonstrators {
  border-bottom-style: groove;
  font-weight: bold;
  font-size: larger;
  text-align: center;
  padding-bottom: 1em;
}

.featured-images {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.featured-images img {
  vertical-align: middle;
  max-width: 22%;
}

.presenters ul {
  font-size: 1.5em;
  list-style-type: none;
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
  padding-bottom: 1em;
}

.presenter {
  border-top-style: groove;
  clear: both;
}

.presenter img {
  height: 200px;
}

.presenter p img {
  float: left;
  padding-right: 10px;
}

.presenter .right {
  float: right;
  padding-left: 10px;
}

.presenter h3 {
  clear: both;
}

.presenter li {
  list-style-position: inside;
}

.vendor {
  border-top-style: groove;
  clear: both;
  padding-top: 20px;
  text-align: center;
}

.vendor img {
  max-width: 600px;
  max-height: 150px;
}

.coming-soon {
  color: #ca2a2a;
  font-size: 1.2em;
  clear: both;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1em 0;
}

.coming-soon a {
  color: #ca2a2a;
}

.schedule {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.schedule img {
  width: 100%;
}

.gallery .slideshow {
  width: 600px;
  height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.lodging {
  border-bottom-style: groove;
  text-align: center;
}

.lodging img {
  width: 300px;
}

.lodging iframe {
  display: block;
  width: 100%;
  height: 450px;
  border: 0;
}

.attraction {
  padding-top: 30px;
  border-top-style: groove;
}

.attraction img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.registration {
  text-align: left;
}

.registration h2 {
  border-top-style: groove;
  padding-top: 1em;
}

.registration h3 {
  text-align: left;
}

.registration-category {
  padding-top: 0.1em;
  padding-left: 1em;
  margin-left: 1em;
  margin-bottom: 1em;
  background-color: lightgrey;
}

.registration-item {
}

.registration-checkout {
  padding: 1em 0 0 5em;
}
