
/*layout */
body {
  min-width: 480px;
  max-width: 1024px;
}
#header {
}
#container {
  padding-left: 200px;
  padding-right: 40px;
}
#container .column {
  position: relative;
  float: left;
}
#main {
  padding: 10px 20px;
  width: 100%;
}
#left {
  width: 180px;
  padding: 0 10px;
  right: 240px;
  margin-left: -100%;
}
* html #left {
  left: 0px;
}

/* typography, style */
html {
  font-size: 62.5%;
  font-family: serif;
}
body {
  font-size: 1.8rem;
  line-height: 1.618;
  color: black;
  background-color: #f9f9f9;
}

a {
  color: black;
}
a:hover {
  color: blue;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  font-family: Verdana, sans-serif;
  font-weight: bold;
  text-align: center;
}
h1{
  font-size: 1.6em;
}
h2 {
  font-size: 1.4em;
}
h3 {
  font-size: 1.0em;
}

/* Nav */

#left {
  background-color: silver;
  color: black;
}
#left ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Home */
.demonstrators {
  border-top-style: groove;
  border-bottom-style: groove;
  font-weight: bold;
  font-size: larger;
  text-align: center;
  padding-bottom: 1em;
}

/* Presenters */

.presenters ul {
  list-style-type: none;
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
  padding-bottom: 1em;
}
.presenter {
  border-top-style: groove;
}
.presenter img {
  height: 200px;
}

.schedule {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.schedule img {
  width: 800px;
}

.vendor {
  border-top: groove;
  padding-top: 20px;
  text-align: center;
}
.vendor img {
  width: 300px;
}

.lodging {
  border-bottom: groove;
  text-align: center;
}
.lodging img {
  width: 300px;
}
.lodging iframe {
  display: block;
  width: 100%;
  height: 450px;
  border: 0;
}

.attraction {
  padding-top: 30px;
  border-top: groove;
}
.attraction img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.registration {
  text-align: left;
}

.registration-category {
  margin-left: 1em;
  background-color: lightgrey;
}
.registration h2 {
  border-top: groove;
  padding-top: 30px;
}
.registration h3 {
  text-align: left;
}
.registration-item {
  margin-left: 3em;
}

/** Generic Styles */

.centered {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.note {
  color: #ca2a2a;
}
