<!-- Brochure -->
<h1>2017 Brochure</h1>
<!--          <h2><font face="arial" size="4" color="silver">Check back later for the current brochure</font></h2>
 -->
<h2><a href="/images/RMWTsymposiumbrochure2012.pdf">Click for printable brochure</a></h2>
<a href="/images/RMWTsymposiumbrochure2012.pdf"><img src="/images/RMWTsymposiumbrochure2012_Page_1.jpg" width="330" height="255"></a>
<a href="/images/RMWTsymposiumbrochure2012.pdf"><img src="/images/RMWTsymposiumbrochure2012_Page_2.jpg" width="330" height="255"></a>
