<html>

<head>
  <meta charset="UTF-8">
  <meta name="keywords" value="Rocky Mountain Woodturning Symposium 2018 ~~TITLE~~">
  <meta name="description" value="~~TITLE~~ - Rocky Mountain Woodturning Symposium 2018">
  <title>~~TITLE~~ - RMWT Symposium</title>
  <script src="script/ganalytics.js"></script>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div id="header"><img src="images/header2.jpg"></div>

  <div id="nav">
    <ul>
      <li id="nav-index"><a href="index.html">Home</a></li>
      <li id="nav-presenter"><a href="presenter.html">Presenters</a></li>
      <li id="nav-schedule"><a href="schedule.html">Daily Schedule</a></li>
      <li id="nav-gallery"><a href="gallery.html">Instant Gallery</a></li>
      <li id="nav-vendors"><a href="vendors.html">Vendors</a></li>
      <li id="nav-lodging"><a href="lodging.html">Lodging & Restaurants</a></li>
      <li id="nav-attractions"><a href="attractions.html">Area Attractions</a></li>
      <li id="nav-registration"><a href="registration.html">Registration</a></li>
    </ul>

    <script>
      document.getElementById('nav-~~FILE~~').className = "nav-selected";
    </script>

  </div>

  <div id="main" class="column">
    ~~BODY~~
  </div>

  <div id="footer">
    <h4>Contacts</h4>
    <div class="contact">
      <strong>Symposium:</strong>
      Allen Jensen
       - 970-663-1868
        - <a href="mailto:Allen Jensen<Rajconst@aol.com>?subject=RMWT%20Symposium">Rajconst@aol.com</a>
        - <a href="press.html">Press Information</a>
    </div>

    <div class="contact">
     <strong>Vendors:</strong>
      Cindy Drozda
       - 303-449-7170
       - <a href="mailto:Cindy Drozda<cindy@cindydrozda.com>?subject=RMWT%20Symposium">cindy@cindydrozda.com</a>
      - <a href="vendorapp.html">Vendor Application and Registration</a>
    </div>

    <div class="contact">
      <strong>Registration:</strong>
        Jim & Pam Felton
        - 307-634-9103
        - <a href="mailto:Jim & Pam Felton<jpfelton@gmail.com>?subject=RMWT%20Symposium">jpfelton@gmail.com</a>
    </div>
</body>

</html>
