<!-- Instant Gallery -->

<font face="arial" size="5" color="silver">
  An Instant Gallery will be open to the Public and all attendees are encouraged to bring 3 pieces for exhibit.
  <br>
  <hr> 18th Annual Rocky Mountain Woodturning Symposium Instant Gallery Photos<br>
</font>
<font face="arial" size="4" color="silver">held Sept 15th - 17th, 2017</font>

<p align="center" class="style2">
  <embed type="application/x-shockwave-flash" src="https://photos.gstatic.com/media/slideshow.swf" width="400" height="267" flashvars="host=picasaweb.google.com&hl=en_US&feat=flashalbum&RGB=0x000000&feed=https%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2Frockymountainwoodturners%2Falbumid%2F6199325815752206129%3Falt%3Drss%26kind%3Dphoto%26hl%3Den_US"
    pluginspage="http://www.macromedia.com/go/getflashplayer"></embed>
</p>
