<!-- Area Lodging and Restaurants -->

<div class="lodging">
  <img src="images/RanchLogo.jpg">
  <p>
    The venue is the The Ranch / Larimer County Fair Grounds
    <a href="http://treventscomplex.com/directions.html"> (directions)</a> in Loveland, Colorado.
    The Symposium will be in the <a href="http://treventscomplex.com/ourCampus.html#McKee">McKee building</a>,
    please use the free parking lots <a href="http://treventscomplex.com/parking.html">A, B & H</a>.
  </p>
  <img src="images/Ranch-entrance.jpg">
  <p>
    One of our members also created a <a href="images/resaurantsymmainmap.pdf">
    printable map of local Hotels and Restaurants</a>.
  </p>
</div>

<div class="lodging">
  <h1>Lodging</h1>
  <p>
    Several hotels are within walking distance and many others only a short drive.
    <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d48605.751012271176!2d-105.03413274520409!3d40.411964569933936!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1shotels+near+the+ranch%2C+loveland%2C+co!5e0!3m2!1sen!2sus!4v1517456155744" allowfullscreen></iframe>
    Click "View Larger Map" to explore the map in more detail.
  </p>
</div>

<div class="lodging">
  <h1>Camp Grounds & RV Parks</h1>
  <p>
    There are several Camp Grounds & RV Parks within easy driving distance:
    <br> Loveland RV Resort - <a href="http://www.lovelandrvresort.com">www.lovelandrvresort.com</a>
    <br> RV Retreat at Johnson's Corner - <a href="http://www.rvretreatatjohnsonscorner.com/">www.rvretreatatjohnsonscorner.com</a>
    <br> Boyd Lake State Park - <a href="http://www.parks.state.co.us/Parks/BoydLake/Camping/Pages/BoydLakeCamping.aspx">www.parks.state.co.us/BoydLake</a>
  </p>
</div>

<div class="lodging">
  <h1>Restaurants</h1>
  <p>
    Several restaurants are within walking distance and many others only a short drive.
    <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d97211.5624527655!2d-105.03413307157608!3d40.41192273899144!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1srestaurants+near+the+ranch%2C+loveland%2C+co!5e0!3m2!1sen!2sus!4v1517456674353" allowfullscreen></iframe>
    Click "View Larger Map" to explore the map in more detail.
  </p>
</div>
