<!-- Demonstrators -->

<h1>2018 Presenters</h1>

<div class="presenters">
  <ul>
    <li><a href="#Batty">Stuart Batty</a></li>
    <li><a href="#Drozda">Cindy Drozda</a></li>
    <li><a href="#Gibson">Cynthia Carden Gibson</a></li>
    <li><a href="#Gotschall">Keith Gotschall</a></li>
    <li><a href="#Hertzog">Kurt Hertzog</a></li>
    <li><a href="#Lofstrom">Eric Lofstrom</a></li>
    <li><a href="#Medina">Jonathan Medina</a></li>
    <li><a href="#Orr">Rick Orr</a></li>
    <li><a href="#Theobald">Curt Theobald</a></li>
    <li><a href="#Wirsing">Tom Wirsing</a></li>
  </ul>
</div>


<a name="Batty">
  <div class="presenter">
    <h2>Stuart Batty - <a href="https://vimeo.com/woodturning">Woodturning Fundamentals</a></h2>

    <div class="centered">
      <img src="images/stuart-batty.jpg">
      <img src="images/batty-cocobolo-point-bowl.jpg">
    </div>
    <p>
      Stuart is a third-generation woodturner, being a full-time production turner and teacher in his father's studio at age 16. At 19, he started working for Craft Supplies in England, at the time the world's largest supplier to woodturners. During his 6 years
      at Craft Supplies, he was the in-house woodturning teacher and demonstrator. He set up Craft Supplies' first sawmill and oversaw their import business that sold more than 300 exotic woods from around the world. Stuart has been a professional turner
      for 36 years and has taught more than 5,000 amateur and professional woodturners.
    </p>

    <p>
      Stuart's style of work is greatly influenced by his background as a spindle turner with precise cuts and sharp detail. He uses very simple tools to create his pieces. His work is pure lathe work, with no carving or surface texturing.
    </p>
    <p>
      Stuart's artwork has been sold through galleries across Europe and the US. He also has artwork displayed in the permanent White House collection. Stuart believes we have only skimmed the surface of the potential of a wood lathe. With production woodturning
      as his background, his foundation in woodturning helped him perfect the push cut style and other useful techniques, such as negative rake scraping.
    </p>


    <h3>Bowl Turning with the 40/40 Grind & The Bottom Bowl Gouge Grinds</h3>
    <p>
      The bowl gouge with its 40 degree bevel and 40 degree straight wings is capable of large volume cuts directly to finish without any torn grain. In this demonstration, I'll be showing how to create both the 40/40 bowl gouge and the bottom bowl gouge grinds
      freehand on a platform. I will show how both gouges are controlled to form the desired shape with little physical effort and repeatability.
    </p>

    <h3>Off Center Square/Winged Bowl Turning</h3>
    <div class="centered">
      <img src="images/batty-sheoak-off-centre-square-bowl.jpg">
    </div>
    <p>
      In this demonstration, I'll be showing how to minimize off balance problem while turning. This demo will include both gouge work and negative rake scraping. I will be demonstrating how to easily finish the wings of the bowl with no torn grain or damage
      to the edges of the piece and how to mate to the wing surface to the bowl shape, leaving a very clean sharp corner.
    </p>

    <h3>Perfecting the Art of Cutting</h3>
    <p>
      In this demonstration, I'll be covering the 7 Fundamentals Setups to eliminate most of the variables in woodturning. I'll will be demonstrating and explaining how I cut the wood to avoid any torn grain on any species of wood, using a maximum of two pounds
      of pressure. I'll also be explaining that knowing grain direct is essential to good cutting and that the techniques for spindle and bowl turning are vertically identical.
    </p>
  </div>
