<!-- Demonstrators -->

<h1>2018 Presenters</h1>

<div class="presenters">
  <ul>
    <li><a href="#Batty">Stuart Batty</a></li>
    <li><a href="#Drozda">Cindy Drozda</a></li>
    <li><a href="#Fleming">Joe Fleming</a></li>
    <li><a href="#Gotschall">Keith Gotschall</a></li>
    <li><a href="#Hertzog">Kurt Hertzog</a></li>
    <li><a href="#Lofstrom">Eric Lofstrom</a></li>
    <li><a href="#Medina">Jonathan Medina</a></li>
    <li><a href="#Orr">Rick Orr</a></li>
    <li><a href="#Theobald">Curt Theobald</a></li>
    <li><a href="#Wirsing">Tom Wirsing</a></li>
  </ul>
</div>


<div class="presenter">
  <a name="Batty">
    <h2>Stuart Batty - <a href="https://vimeo.com/woodturning">Woodturning Fundamentals</a></h2>

    <div class="centered">
      <img src="images/demos/stuart-batty.jpg">
      <img src="images/demos/batty-cocobolo-point-bowl.jpg">
    </div>
    <p>
      Stuart is a third-generation woodturner, being a full-time production turner and teacher in his father's studio at age 16. At 19, he started working for Craft Supplies in England, at the time the world's largest supplier to woodturners. During his 6 years
      at Craft Supplies, he was the in-house woodturning teacher and demonstrator. He set up Craft Supplies' first sawmill and oversaw their import business that sold more than 300 exotic woods from around the world. Stuart has been a professional turner
      for 36 years and has taught more than 5,000 amateur and professional woodturners.
    </p>

    <p>
      Stuart's style of work is greatly influenced by his background as a spindle turner with precise cuts and sharp detail. He uses very simple tools to create his pieces. His work is pure lathe work, with no carving or surface texturing.
    </p>
    <p>
      Stuart's artwork has been sold through galleries across Europe and the US. He also has artwork displayed in the permanent White House collection. Stuart believes we have only skimmed the surface of the potential of a wood lathe. With production woodturning
      as his background, his foundation in woodturning helped him perfect the push cut style and other useful techniques, such as negative rake scraping.
    </p>

    <h3>Bowl Turning with the 40/40 Grind & The Bottom Bowl Gouge Grinds</h3>
    <p>
      The bowl gouge with its 40 degree bevel and 40 degree straight wings is capable of large volume cuts directly to finish without any torn grain. In this demonstration, I'll be showing how to create both the 40/40 bowl gouge and the bottom bowl gouge grinds
      freehand on a platform. I will show how both gouges are controlled to form the desired shape with little physical effort and repeatability.
    </p>

    <h3>Off Center Square/Winged Bowl Turning</h3>
    <p>
      <img src="images/demos/batty-sheoak-off-centre-square-bowl.jpg">
      In this demonstration, I'll be showing how to minimize off balance problem while turning. This demo will include both gouge work and negative rake scraping. I will be demonstrating how to easily finish the wings of the bowl with no torn grain or damage
      to the edges of the piece and how to mate to the wing surface to the bowl shape, leaving a very clean sharp corner.
    </p>

    <h3>Perfecting the Art of Cutting</h3>
    <p>
      In this demonstration, I'll be covering the 7 Fundamentals Setups to eliminate most of the variables in woodturning. I'll will be demonstrating and explaining how I cut the wood to avoid any torn grain on any species of wood, using a maximum of two pounds
      of pressure. I'll also be explaining that knowing grain direct is essential to good cutting and that the techniques for spindle and bowl turning are vertically identical.
    </p>
</div>

<div class="presenter">
  <a name="Drozda">
    <h2>Cindy Drozda - <a href="http://www.cindydrozda.com/">The Fine Art of Woodturning</a></h2>
      <img src="images/demos/drozda-headshot-2012.jpg">
      <img src="images/demos/drozda-final-box.jpg">
    <p>
      Cindy Drozda, Boulder Colorado, has worked wood professionally since her first "real" job at age 19, where she taught herself to work with wood. The need to make a pair of chairs brought her to woodturning, but it was the pictures of bowls, vessels, and
      boxes in the back of Dale Nish's book that really got her hooked. Before settling on woodturning as a career Cindy worked as a cabinet maker, rebuilt airplanes, machined metal, and made hang gliding equipment.
    </p>
    <p>
      Today, her pieces are exhibited at the finest art shows and galleries. Her elegant lidded vessels and boxes with delicate finials bring a contemporary flair to classic forms. A jewel hidden under the lid symbolizes the treasure that life reveals when
      we make the effort to look deeper. Her trademarks are precise techniques, fine details, and pleasing forms. Cindy will coach you to new levels of excellence in your woodturning!
    </p>

    <h3>Finial Box</h3>
    <p>
      <img src="images/demos/drozda-final-box-2.jpg">
      My signature style of Box with a finial, an in-fitting lid, and an inlayed decorative ring and foot made from contrasting wood. The Finial Box is an intricate and interesting project, with a lot of tips and techniques. This presentation includes: boxmaking,
      turning a finial, design, material selection, and jam chucking.
    </p>

    <h3>Inlay Lidded Box</h3>
    <p>
      <img src="images/demos/drozda-inlay-box.jpg">
      In this demo, the box has an over-fitting lid with a wood inlay. This box has straight sides and a flat bottom, and a friction fit lid. Basic boxmaking techniques are covered, as well as design and material selection.
    </p>
</div>

<div class="presenter">
  <a name="Fleming">
    <h2>Joe Fleming - <a href="http://www.airbrushingwood.com/about.html">Airbrushing Wood</a></h2>
    <img src="images/demos/fleming-headshot.jpg">
    <p>
      I have been an amateur woodworker for over 40 years and an amateur woodturner for more than 18 years. My skills are primarily self-taught with assists from various class work, from woodworking publications, and through participation in various woodworking
      clubs. I have studied with many noted wood artists including, Allan Batty, Stuart Batty, Christian Burchard, Jimmy Clewes, Don Derry, Michael, Hosaluk, John Jordan, Binh Pho, Richard Raffan, Merryll Saylan, and Susan Working. My dad gets the credit
      for instilling in me a passion for hand-made wood items.
    </p>
    <p>
      I like to explore different forms and techniques in my work. It would difficult to pin me to a style. In my club, I'm considered the jack-of-all-trades when it comes to woodturning. I'm best known for airbrushing and coloring.
    </p>
    <h3>Vendor Demo: Airbrushing Basics</h3>
    <p>
      <img src="images/demos/fleming-1.jpg">
      Joe will be showing airbrushing basics to the uninitiated. The demo will include an explanation of what a person needs to get started airbrushing. Joe will cover:
    </p>
    <ul>
        <li>Equipment choices (how to choose your equipment and why)</li>
        <li>Airbrush operation (how and why it works)</li>
        <li>Airbrush maintenance (disassembly and cleaning)</li>
        <li>Basic airbrush skills, uses and techniques</li>
      </ul>
    <p>
      Participants should come away with a clear understanding of what they can do with an airbrush and how to get started.
    </p>
</div>
