<!-- Area Attractions -->

<h1>Area Attractions</h1>

<div class="attraction">
  <a href="http://www.nps.gov/romo" target="_blank">
    <h2>Rocky Mountain National Park</h2>
    <img src="images/ROMO_mummymountain.jpg" alt="Rocky Mountain National Park">
  </a>
  <p>
    Over 300 miles of hiking trails, wildflowers, wildlife, and more are waiting for you to explore. If you're not into hiking,
    take a drive up Trail Ridge Road. Peaking out at over 12,000 feet, it is the highest continuously paved highway in the
    United States.
  </p>
</div>

<div class="attraction">
  <a href="https://www.visitestespark.com/" target="_blank">
    <h2>Estes Park</h2>
    <img src="images/estespark.jpg" alt="Estes Park">
  </a>
  <p>
    The gateway to Rocky Mountain National Park. A great place to unwind for a few days after the symposium. Arrange a fly fishing
    guide, take a horseback ride, or a jeep tour of the national park. Or just stop in after your day in the park, do some
    shopping and enjoy one of the many fine restaurants.
  </p>
</div>

<div class="attraction">
  <a href="http://www.visitlovelandco.org/" target="_blank">
    <h2>Loveland</h2>
    <img src="images/loveland.jpg" alt="Loveland">
  </a>
  <p>
    Home of the Rocky Mountain Woodturning Symposium - need we say more? Seriously, Loveland has a vibrant arts community and
    the city is adorned with an exceptional array of bronze sculptures.
  </p>
  <p>
    How about a relaxing stroll through the <a href="http://www.sculptureinthepark.org/garden/collection" target="_blank">Benson Sculpture Garden</a> or
    <a href="http://www.chapungusculpturepark.com/" target="_blank">Chapungu Sculpture Park</a>. You won't be disappointed.
  </p>
</div>

<div class="attraction">
  <a href="http://www.visitftcollins.com/" target="_blank">
    <h2>Old Town Fort Collins</h2>
    <img src="images/oldtownfortcollins.jpg" alt="Old Town Fort Collins">
  </a>
  <p>
    Just up the highway from Loveland, Fort Collins has a lot to offer. Take a walk around Old Town and visit shops and galleries
    featuring the work of local artists and craftsmen. Tour one (or more) of the dozens of craft breweries.
  </p>
</div>

<div class="attraction">
  <a href="http://www.promenadeshopsatcenterra.com/" target="_blank">
    <h2>Promenade Shops at Centerra</h2>
    <img src="images/shopsatcenterra.jpg" alt="Promenade Shops at Centerra">
  </a>
  <p>
    If you like shopping, Centerra is just down the street.
  </p>
</div>

<div class="attraction">
  <a href="http://parks.state.co.us/Parks/BoydLake/" target="_blank">
    <h2>Boyd Lake State Park</h2>
    <img src="images/boydlakestatepark.jpg" alt="Boyd Lake State Park">
  </a>
  <p>
    Picnicing, boating, fishing, camping, hiking. In Loveland, just about 9 miles from the Symposium.
  </p>
</div>
