<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="keywords" content="Rocky Mountain Woodturning Symposium 2018 ~~TITLE~~">
  <meta name="description" content="~~TITLE~~ - Rocky Mountain Woodturning Symposium 2018">
  <title>~~TITLE~~ - RMWT Symposium</title>
  <script src="script/ganalytics.js"></script>
  <script src="script/emailRewrite.js"></script>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div id="header"><img src="images/header3.jpg" alt="Rocky Mountain Woodturning Symposium"></div>
  <div id="nav">
    <ul>
      <li id="nav-index"><a href="index.html">Home</a></li>
      <li id="nav-presenter"><a href="presenter.html">Presenters</a></li>
      <li id="nav-schedule"><a href="schedule.html">Daily Schedule</a></li>
      <li id="nav-gallery"><a href="gallery.html">Instant Gallery</a></li>
      <li id="nav-vendors"><a href="vendors.html">Trade Show</a></li>
      <li id="nav-lodging"><a href="lodging.html">Lodging & Restaurants</a></li>
      <li id="nav-attractions"><a href="attractions.html">Area Attractions</a></li>
      <!-- li id="nav-registration"><a href="registration.html">Registration</a></li -->
    </ul>

    <script language="JavaScript" type="text/javascript">
      document.getElementById('nav-~~FILE~~').className = "nav-selected";
    </script>
  </div>

  <div id="main" class="column">
    ~~BODY~~
  </div>

  <div id="footer">
    <h5>Contacts</h5>
    <table>
      <tr>
        <th>Symposium</th>
        <td>Allen Jensen</td>
        <td><a class="email-link" x-name="Allen Jensen" x-subj="RMWT%20Symposium">Enwpbafg@nby.pbz</a></td>
        <td><a href="tel:+1-970-663-1868">970-663-1868</a></td>
        <td><a href="press.html">Press Information</a></td>
      </tr>
      <tr>
        <th>Vendors</th>
        <td>Cindy Drozda</td>
        <td><a class="email-link" x-name="Cindy Drozda" x-subj="RMWT%20Symposium">pvaql@pvaqlqebmqn.pbz</a></td>
        <td><a href="tel:+1-303-449-7170">303-449-7170</a></td>
        <!-- td><a href="vendorapp.html">Vendor Registration</a></td -->
      </tr>
      <tr>
        <th>Registration</th>
        <td>Jim & Pam Felton</td>
        <td><a class="email-link" x-name="Jim & Pam Felton" x-subj="RMWT%20Symposium">wcsrygba@tznvy.pbz</a></td>
        <td><a href="tel:+1-307-634-9103">307-634-9103</a></td>
      </tr>
      <tr>
        <th>Webmaster</th>
        <td>Dave Landers</td>
        <td><a class="email-link" x-name="Dave Landers" x-subj="RMWT%20Symposium">qnir@ferqany.pbz</a></td>
      </tr>

    </table>

  </div>
</body>

</html>
