<!-- Instant Gallery -->

<h1>Beyond the Bark</h1>
<h2>Instant Gallery</h2>

<div class="gallery">
  <p>
    All attendees are encouraged to bring up to 3 pieces for exhibit at the <em>Beyond the Bark</em> Instant Gallery. The gallery will be open to the public, and your pieces
    can be displayed for sale or just for show. It is a chance to show off your work.
  </p>
  <p>
    But please don't be intimidated: our gallery usually exhibits a wide range of skills and techniques. Your pieces in the gallery affords
    an excellent opportunity to spark conversations with other turners about technique, problems, solutions, form, and so much more. You are
    probably your own worst critic - here's an opportunity to see what others have to say. You will probably be surprised!
  </p>
  <p>
    The symposium will have some display pedestals available of various sizes, but you may wish to bring your own. We also provide attendants to
    asist the public with sales, and to watch over the display.
  </p>
  <p>
    On the final morning of the symposium, demonstrators will do a critique of selected gallery pieces.
  </p>

  <!--
  <h2>Instant Gallery Photos from last year's symposium</h2>

  <embed class="slideshow" type="application/x-shockwave-flash" src="https://photos.gstatic.com/media/slideshow.swf" flashvars="host=picasaweb.google.com&hl=en_US&feat=flashalbum&RGB=0x000000&feed=https%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2Frockymountainwoodturners%2Falbumid%2F6199325815752206129%3Falt%3Drss%26kind%3Dphoto%26hl%3Den_US"
    pluginspage="http://www.macromedia.com/go/getflashplayer">
-->
</div>
