<!-- Handouts -->

<h1>2018 Demonstration Handouts</h1>

<div class="handouts">
  <ul>

    <li>Joe Fleming
      <ul>
        <li><a href="images/JoeFleming/TheAirbrushDemystified_Fleming-2018-V1.pdf">The Airbrush Demystified</a></li>
        <li><a href="images/JoeFleming/Airbrushing-Starter-Info-Sept2018.pdf">Airbrushing Starter Info</a></li>
        <li><a href="images/JoeFleming/AirbrushingResources.pdf">Airbrushing Resources</a></li>
        <li><a href="images/JoeFleming/Turning_a_Stool-V1g.pdf">Turning a Stool</a></li>
      </ul>
    </li>

    <li>Dale Larson
      <ul>
        <li><a href="images/DaleLarson/Green_turning_Bowls.pdf">Green Turning Wooden Bowls</a></li>
        <li><a href="images/DaleLarson/Oval_turning_demonstration.pdf">Oval Turning</a></li>
        <li><a href="images/DaleLarson/wooden_jaws_for_chucks.pdf">Wooden Jaws for Chucks</a></li>
        <li><a href="images/DaleLarson/turning_a_sphere.pdf">Turning a Sphere</a></li>
      </ul>
    </li>

    <li>Merryll Saylan
      <ul>
        <li><a href="images/MerryllSaylan/2018-Milk_Paint.pdf">Milk Paint and Finishing</a></li>
      </ul>
    </li>

    <li>Doug Schneiter
      <ul>
        <li><a href="images/DougSchneiter/25_Quick_and_Easy_Steps_to_Basket_Illusion.pdf">25 Quick and Easy Steps to Basket Illusion</a></li>
        <li><a href="images/DougSchneiter/Basket_Illusion_comparing_Beading_Tools.pdf">Comparing Shearing and Scraping Style Beading Tools</a></li>
        <li><a href="images/DougSchneiter/Comparing_Scraping_and_Shear_Style_Beading_Tools.pdf">Comparing Scraping and Shear Style Beading Tools</a></li>
      </ul>
    </li>

  </ul>
</div>
