<!-- Home -->

<h1>19th Annual Rocky Mountain Woodturning Symposium</h1>
<h2>September 14th - 16th, 2018</h2>
<h3>
  Sponsored by <a href="http://www.rmwt.org">Rocky Mountain Woodturners</a>,
  <br>
  a chapter of the <a href="http://www.woodturner.org/">American Association of Woodturners</a>
</h3>

<div class="demonstrators">
  <h2>Featured Demonstrators</h2>
  <div class="presenters">
    <ul>
      <li><a href="presenter.html#Mahoney">Mike Mahoney</a></li>
      <li><a href="presenter.html#Larson">Dale Larson</a></li>
      <li><a href="presenter.html#Breach">Jason Breach</a></li>
      <li><a href="presenter.html#Ault">Sally Ault</a></li>
      <li><a href="presenter.html#Saylan">Merryll Saylan</a></li>
      <li><a href="presenter.html#Bosch">Trent Bosch</a></li>
      <li><a href="presenter.html#Schneiter">Doug Schneiter</a></li>
      <li><a href="presenter.html#Roper">Michael Roper</a></li>
      <li><a href="presenter.html#Gisi">Brian Gisi</a></li>
    </ul>
  </div>
  <div class="note">More to be announced, please check back later.</div>
<br>
<div class="centered">
  <img src="images/hockenberySFtransBeechhalo.jpg" height="120" alt="Dale Larson Bowl">
  <img src="images/wirsing-threeplatters.jpg" height="250" alt="Tom Wirsing Platters">
  <IMG SRC="images/ellsworth-homage-pot-2011.jpg" height="270" alt="David Ellsworth Pot">
  <img src="images/biggs-natural-history.jpg" height="180" alt="Dixie Biggs Hollow Form">
</div>
</div>

<p>
  The venue is the <a href="http://treventscomplex.com/ourCampus.html">The Ranch / Larimer County Fair Grounds</a> in Loveland, Colorado. Event will be in the <a href="http://treventscomplex.com/ourCampus.html#McKee">McKee building</a>, please use the
  free parking lots <a href="http://treventscomplex.com/parking.html">A, B & H</a>.
</p>
<p>
  2018 marks the 19th year for this event. Participants can select from over 42 rotations given by some of the best woodturners in the world. The presentations will have something for everyone, from the beginner to the professional. There will be a large
  vendor exhibit and a hands on woodturning program area. An Instant Gallery will be open to the Public and all attendees are encouraged to bring 3 peices for exhibit. The symposium is open to anyone with an interest in woodturning and is the best value
  available.
</p>

<!-- TODO brochure -->

<p class="note">
  This site is evolving as we finalize the symposium. Please return for updates.
  <br>To see the quality of what will be coming, take a look at the <a href="2017/index.htm">prior Symposium (2017) website</a>.
</p>
