<!-- Demonstrators -->

<h1>2018 Presenters</h1>

<div class="presenters">
  <div class="coming-soon">
    We are still working to build a fantastic program for you.
    <br> More details are in the works! Please keep checking back for updates.
  </div>

  <ul>
    <li><a href="presenter.html#Mahoney">Mike Mahoney</a></li>
    <li><a href="presenter.html#Larson">Dale Larson</a></li>
    <li><a href="presenter.html#Breach">Jason Breach</a></li>
    <li><a href="presenter.html#Ault">Sally Ault</a></li>
    <li><a href="presenter.html#Saylan">Merryll Saylan</a></li>
    <li><a href="presenter.html#Bosch">Trent Bosch</a></li>
    <li><a href="presenter.html#Schneiter">Doug Schneiter</a></li>
    <li><a href="presenter.html#Roper">Michael Roper</a></li>
    <li><a href="presenter.html#Gisi">Brian Gisi</a></li>
    <li><a href="presenter.html#Fleming">Joe Fleming</a></li>
  </ul>
</div>

<div class="presenter">
  <a name="Mahoney"></a>
  <h2>Mike Mahoney</h2>
  <h3><a href="http://bowlmakerinc.com" target="_blank">bowlmakerinc</a></h3>

  <p>
    <img src="images/MikeMahoney/mike_mug.jpg" alt="Mike Mahoney" title="Mike Mahoney"> I have been a professional bowlmaker
    since graduating from San Diego State in 1998. My main production items are salad bowls followed by burial urns, hollow
    forms, treenware, and any job that walks through the door. I have been lucky enough to travel the world teaching my craft.
    I have taught in eight countries and across almost every state in our country. I am passionate about my craft and live
    and breathe for it. I never miss an opportunity to educate the public about what woodturning is and the wonderful people
    involved with the craft as a whole.
  </p>

  <div class="coming-soon">
    Demonstration details coming soon.
  </div>
</div>

<div class="presenter">
  <a name="Larson"></a>
  <h2>Dale Larson</h2>
  <h3><a href="http://www.finewoodartists.com/gallery/larson/dale_larson.htm" target="_blank">Dale's Profile on finewoodartists.com</a></h3>

  <p>
    <img src="images/DaleLarson/dale.jpg" alt="Dale Larson" title="Dale Larson"> I have been turning for over 40 years. My
    specialty is turning bowls from local hardwoods. I sell my bowls mostly through galleries. I have demonstrated bowl turning
    and spheres at five AAW Symposiums, at many regional symposiums and around the US, Canada and abroad. I have taught at
    the Campbell and Arrowmont schools. I have published articles about woodturning in four woodworking journals. I was a
    founding member and twice past president of the Cascade Woodturners in Portland, Oregon. I served on the Board of Directors
    of the AAW from 2009 thru 2014, the final three years as President.
  </p>

  <h3>Turning and drying roughed out bowls</h3>
  <p><img class="right" src="images/DaleLarson/01.jpg" alt="Dale Larson Bowls" title="Dale Larson Bowls"> This class will cover
    the ways to rough out and successfully dry bowl blanks. We will discuss air drying, kilns, soaking in soap, microwave,
    soaking in alcohol and boiling the wet bowl blanks. We will discuss how to get the bowl blank dry without cracking. I
    will then finish turn a roughed out dry bowl showing how to use gouges and scrapers, sanding and finishing.
  </p>

  <h3>Cutting the best bowl blanks out of a tree</h3>
  <p>
    I will start with a slide show of how to cut a tree down and cut up the crotch. I will draw and discuss how to cut a tree
    for the nicest grain pattern in the bowl. The goal here is to get the best bowls out of the tree, not the most bowls.
    I will then finish turn a bowl showing how to use gouges and scrapers, sanding and finishing.
  </p>


  <h3>Turning a sphere by eye</h3>
  <p><img src="images/DaleLarson/14.jpg" alt="Dale Larson Spheres" title="Dale Larson Spheres"> Members will see how to turn
    spheres on three axis all by eye. I will show how to make the cup chucks for the headstock and tailstock . I will turn
    three spheres during the class. Turners will learn how to use a jam chuck to hold the sphere so it can be hollowed or
    decorated.
  </p>

  <h3>Oval turning</h3>
  <p><img class="right" src="images/DaleLarson/20.jpg" alt="Dale Larson Oval Bowl" title="Dale Larson Oval Bowl"> I will show
    how to use the Vicmarc Oval chuck to turn ovals. This will include how to lay out the oval blank and how to mount it
    on the chuck. The attendees will see the special tool challenges related to turning ovals on a lathe. Riding the bevel
    may not work here.
  </p>
</div>

<div class="presenter">
  <a name="Breach"></a>
  <h2>Jason Breach</h2>
  <h3><a href="http://www.jasonbreach.co.uk" target="_blank">Jason Breach Woodturner</a></h3>

  <p>
    <img src="images/JasonBreach/Orig_Breach_Jason.jpg" alt="Jason Breach" title="Jason Breach"> Born and lives in Devon,
    England. Jason was introduced to the woodturning lathe at the age of twelve, through schooling and with the support of
    his parents this interest developed. At the age of 15 he attended a woodturning course with Cecil Jordan held at Parnham
    House in Dorset; this week long course covered a wide range of items, but also introduced him to the simple art of the
    turned wooden box. On finishing school, he attended college studying Furniture Design and Management, obtaining a BA
    (Hons). He then worked for a number of years making bespoke kitchens and furniture allowing him to develop and hone his
    skills. As much as he enjoys making furniture, his real enjoyment and enthusiasm has always been working upon the wood
    lathe, even though like most turners Jason can turn his hand to most projects and disciplines, his flair for making and
    developing ideas for turned wooden boxes is his main interest.
  </p>
  <p>
    His development of ideas for turned wooden boxes pushes his creative skills and has led him to create a number of boxes that
    have won competitions within the UK. The "Orbital Arc box" series is his main design focus at present.
  </p>
  <p>
    <img class="right" src="images/JasonBreach/Jason.jpg" alt="Jason Breach at the lathe" title="Jason Breach at the lathe">    Pushing these creative skills and develop new ideas is only limited within Jason eyes by the fact that wood as the material
    is unique, the natural colour and grain pattern should always play a part within this, and not be hidden.
  </p>
  <p>
    He has demonstrated throughout the UK, Australia, Europe, and America, he enjoys demonstrating but is also in demand as a
    woodturning tutor passing on these skills. His enthusiasm for turning is a major creative force in his demonstrations
    and teaching.
  </p>
  <p>
    Currently Jason spends much of his time tutoring these hand skills and techniques. This has enabled him to develop his teaching
    skills, allowing him to explain and educate the learners within classes or at club demonstrations with clear verbal descriptions
    explaining these skills, over the years he has realizes that there are a lot of hobby turners looking to learn and progress,
    and understands how important it is to be translate his skill with clear verbal description.
  </p>

  <h3>Box with flowing Curves</h3>
  <p>
    <img class="right" src="images/JasonBreach/Jason_Breach_Ambrosia_Maple_Box.jpg" alt="Ambrosia Maple Box" title="Ambrosia Maple Box">    Learn the techniques and sequence of making a simple but elegant box from start to finish. This is the basis of my box
    making skills, allowing me to cover the design, wood selection, a range of tool techniques, reverse chucking, sanding
    and finishing the completed box. These aspects come together to create a simple looking box with flowing curves.
  </p>

  <h3>Pagoda Box</h3>
  <p> <img src="images/JasonBreach/2010-06-12_17.46.55.jpg" alt="Set of 4 boxes" title="Set of 4 boxes"> As much as the shape
    of this box is based on a box with flowing curves, and is similar to turn, this is a challenge to create as it pushes
    the skill level to turn this square edge box. An explanation of how to achieve a freestanding pagoda style box with raised
    four footed square base and lid. Starting with timber selection, and preparation of the materials, explaining the methods
    of mounting the timber, covering the safety aspects of turning of square edge materials. A wide range of tool techniques
    will be demonstrated from using gouges through to shear scraping, with the techniques described as required to shape
    and hollow to the finished box.
  </p>
  <h3>Orbital Arc, the beginning</h3>
  <p>
    <img src="images/JasonBreach/Jason_Breach_Orbital_Arc_pair_of_boxes.jpg" alt="Orbital Arc with pair of boxes" title="Orbital Arc with pair of boxes">
    <img class="right" src="images/JasonBreach/Jason_Breach_Orbital_Arc_Morocco.jpg" alt="Orbital Arc - Morocco" title="Orbital Arc - Morocco">    This simple art deco style box was the start point of a series of boxes which I call Orbital Arc’s, this series of boxes
    growing in complexity started with this simple shape. Looking at where and how to start this style of box, explaining
    the making of templates, answering the puzzle of how to mount the work piece upon the lathe, explaining the methods used
    on how to measure and layout the profile shape, the selections of basic tools used to shape materials. An explanation
    of the assembly process and overall construction, which go into making this simple looking box,
  </p>
</div>

<div class="presenter">
  <a name="Ault"></a>
  <h2>Sally Ault</h2>
  <h3><a href="http://www.sallyault.com/" target="_blank">www.sallyault.com</a></h3>

  <p>
    <img src="images/SallyAult/Sally_Ault_head_shot.jpg" alt="Sally Ault" title="Sally Ault"> Sally Ault was born and raised
    in San Diego, California and graduated with a BA degree in Art with a Crafts emphasis from San Diego State. Her work
    there was focused on Weaving, Jewelry Design and Ceramics. During a furniture class, Sally discovered woodturning. After
    a break of a number of years, she resumed woodturning in 2001. Sally enjoys all types of wood turning but currently her
    focus is on lidded containers including the sea Urchin series, open bowls, embellished pieces and jewelry.
  </p>
  <p><img class="right" src="images/SallyAult/sally_turning.jpg" alt="Sally Turning" title="Sally Turning"> Sally’s work is
    shown at the gallery at Studio 38 in Spanish Village Art Center in San Diego, The Collectors Gallery at the Mingei International
    Folk Art Museum, San Diego and at the gift shop at Anderson Ranch Arts Center in Snowmass, Colorado. She has won a number
    of awards over the past years at the Design in Wood Show at the Del Mar Fair. In 2007 Sally was awarded a “Best in Class’
    ribbon for a Myrtle Wood Platter and in 2011 her Maple Hollow Vessel was awarded the San Diego Woodturners Special Award.
    One of Sally’s Sea Urchin Box won a special purchase award at the 2012 Small Image Show at Spanish Village in San Diego
    and in the 2016 show a small Hollow vessel with Coral finial won the same award. Sally was a demonstrator at the 2012
    and 2015 Utah Woodturning Symposia in Orem, Utah and the 2012 Wisconsin Symposium and at many woodturning clubs. In fall
    of 2013 she was accepted for a 10 week artist in residency program at Anderson Ranch Arts Center. She was a featured
    demonstrator at the National American Association of Woodturners symposium in 2016.
  </p>
  <p>
    She is a member of the San Diego Woodturners Association, American Association of Woodturners, Point Loma Artists Association
    and Spanish Village Art Center in San Diego.
  </p>

  <div class="coming-soon">
    Demonstration details coming soon.
  </div>
</div>

<div class="presenter">
  <a name="Saylan"></a>
  <h2>Merryll Saylan</h2>
  <h3><a href="http://www.merryllsaylan.com/" target="_blank">merryllsaylan.com</a></h3>

  <p>
    <img src="images/MerryllSaylan/Head_shot.jpg" alt="Merryll Saylan" title="Merryll Saylan"> Merryll Saylan has been a
    studio artist since the late 70’s and recently moved from Berkeley,CA to Louisville, CO. She has a BA in Design from
    UCLA and an MA in Art from California State University Northridge. Her work has been exhibited in many museums and galleries,
    including the Renwick Gallery, Museum of Art & Design, and the Yale University Art Gallery. She was President of AAW
    in 1995 and has served on the boards of the Center for Art in Wood and the Collector’s of Wood Art. A leader in the use
    of color and texture on wood and wood turning methods, Saylan’s writings on art, techniques, and the woodturning field
    have been published in numerous books and magazines.
  </p>


  <h3>Playing with Paint</h3>
  <p>
    <img src="images/MerryllSaylan/2_Red_and_Black_Bowl_2429.jpg" alt="Red and Black Bowl" title="Red and Black Bowl">
    <img class="right" src="images/MerryllSaylan/5_3_Figs_8866.jpg" alt="Three Figs" title="Three Figs"> Milk paint, dyes,
    acrylics, watercolors, oils & more. Mixing, matching and making choices. Techniques & properties
  </p>

  <h3>Little Plates</h3>
  <p>
    <img src="images/MerryllSaylan/Picture39.jpg" alt="Plates" title="Plates"> Turning little decorative plates: low tech
    mounting methods, rims and contours and bases. How sketching helps. Start a design and resource notebook.
  </p>

</div>

<div class="presenter">
  <a name="Bosch"></a>
  <h2>Trent Bosch</h2>
  <h3><a href="http://trentbosch.com" target="_blank">trentbosch.com</a></h3>

  <p>
    <img src="images/TrentBosch/Bosch_head_shot.jpg" alt="Trent Bosch" title="Trent Bosch"> Trent Bosch has been focused
    on woodturning professionally for more then 25 years. Over the years he has enjoyed many facets of this medium, from
    production woodturning to sculptural one of a kind pieces to demonstrating and teaching hands on classes. More recently
    he has devoted more time to developing, designing and manufacturing unique tools for woodturners, as well as fostering
    the growth of his artistic children. Trent has taught and demonstrated his techniques for turning and sculpting wood
    throughout the world. To learn more about Trent you can visit his website at <a href="http://trentbosch.com" target="_blank">trentbosch.com</a>    or <a href="http://trentboschtools.com" target="_blank">trentboschtools.com</a>.
  </p>


  <h3>Revelations In Hollowing</h3>
  <p><img src="images/TrentBosch/BoschVessels.jpg" alt="A few vessels" title="A few vessels">
    <img class="right" src="images/TrentBosch/Sienna_Weathered.jpg" alt="Carved hollow form" title="Carved hollow form">    Over the past 25 years I have been pursuing the art of the hollow form - throughout this time I have used and developed
    some very unique techniques and equipment. In this demo I will go through all the techniques that I use in the creation
    of a hollow form with an emphasis on the latest technologies I have developed for hollowing making this much more than
    just a hollow form demo.
  </p>

  <h3>Decorative Platters</h3>
  <p><img src="images/TrentBosch/BoschFacetsWhite.jpg" alt="Faceted vessel - it's not a platter but it is decorated" title="Faceted vessel - it's not a platter but it is decorated">    In this session I turn a platter from green wood, discuss drying techniques including kiln drying and building your own
    kiln as well as very simple and basic techniques. During the process I show how to get as clean a cut as possible to
    cut down on sanding. I will then take those objects and discuss and use lots of different decorative techniques including:
    carving techniques, bleaching, dying, painting, sand blasting, and surface textures. All in all, the participant will
    learn everything they need to know to turn their own decorative platters. They’ll also walk away with numerous decoration
    ideas.
  </p>


</div>

<div class="presenter">
  <a name="Schneiter"></a>
  <h2>Doug Schneiter</h2>
  <p>
    <img src="images/DougSchneiter/schneiter.jpg" alt="Doug Schneiter" title="Doug Schneiter"> I was first introduced to
    woodturning nearly 50 years ago in high school. I continued pursuing it through college, which led to a teaching career.
    In 1993, I came to Loveland, and was soon a part of the Rocky Mountain Woodturners Club. I met a great group of turners
    who were mentors, and now are longtime friends.
  </p>
  <p>
    Initially, I turned hollow forms with natural voids, which I still enjoy, but now I am focused on Basket Illusion pieces.
    I am taking them my own direction, while turning platters, bowls, and hollows, decorated with multiple colors in geometric
    patterns.
  </p>

  <h3>Shear Style Basket Illusion</h3>
  <p><img src="images/DougSchneiter/woodturning_UK_0060.JPG" alt="Basket Illusion Hollow Form" title="Basket Illusion Hollow Form">    In this demo, I will be turning a small basket illusion piece, using shear style beading tools. During this demo I will
    show all the steps necessary, from start to finish, to complete a basket illusion turning. This will include mounting
    the piece for turning, rough turning, finish turning, beading, indexing to draw radial lines, burning, and coloring.
  </p>

  <h3>Comparing Shearing and Scraping Basket Illusion</h3>
  <p><img class="right" src="images/DougSchneiter/2017_10_10_0595.JPG" alt="Basket Illusion" title="Basket Illusion"> In this
    demo, I will be turning a small basket illusion piece, comparing the shearing style and scraping style beading tools.
    I will demonstrate the very different techniques that each of these style of tools requires. During this demo I will
    show all the steps needed, from start to finish, on how to complete a basket illusion turning. This will include mounting
    the wood to the lathe, turning techniques, beading using both styles of beading tools, indexing, burning and coloring.

    <h3><em>Hands On Workshop</em>: Bowl Turning Simplified</h3>
    <p>
      <img src="images/DougSchneiter/oct_2017_uk_0107.JPG" alt="Doug Schneiter at the lathe" title="Doug Schneiter at the lathe">      In this demo, we will be turning a small bowl using some simple turning techniques. This will include mounting the
      blank to the lathe, rough turning the piece, reversing it into the chuck, and finish turning. We will be primarily
      using bowl gouges and negative rake scrapers in this workshop.
</div>

<div class="presenter">
  <a name="Roper"></a>
  <h2>Michael Roper</h2>
  <h3><a href="http://www.roperwoodturning.com/" target="_blank">roperwoodturning.com</a></h3>

  <p>
    <img src="images/MichaelRoper/roper-headshot.jpg" alt="Michael Roper" title="Michael Roper">I am a third generation woodworker
    who fell in love with woodturning while studying at the Red Rocks Community College School of Fine Woodworking where
    I now teach. The environment I live in greatly influences my work. From my rough natural edge pieces representing our
    times of drought and fire to the simple curves of my bowls and hollow forms representing the curves of snow covered mountains,
    Colorado is not only the place I live but it is also my muse. Besides the natural beauty of the landscape, Colorado offers
    more than 100 different species of trees that grow along the Front Range of the Rocky Mountains. While many think of
    the Rockies as only yielding Pine, in fact the diversity of Elm, Maple, Walnut, Box Elder and dozens of other workable
    woods each offers their own challenges and intrinsic beauty. I create all my pieces in my cozy mountain studio that looks
    out at the Continental Divide.
  </p>


  <h3>Small Scale Hollow Vessels</h3>
  <p><img src="images/MichaelRoper/IMG_2680.JPG" alt="Roper Vessel" title="Roper Vessel">
    <img class="right" src="images/MichaelRoper/IMG_2862.JPG" alt="Roper Hollow Vessels" title="Hollow Vessels"> In this
    demonstration I will go over the process I use to make small scale hollow vessels (3"x3"x3"). The demo will focus on
    proper techniques for mounting small work on the lathe, safe turning speeds and proper tool position and use for hollowing
    a vessel through a small opening. This demo is appropriate for all skill levels of woodturners.
  </p>

  <h3>Embellishing Your Work with the Robert Sorby Spiraling and Texturing Tool</h3>
  <p><img src="images/MichaelRoper/IMG_2730.JPG" alt="Textured Cylinder" title="Textured Cylinder">
    <img class="right" src="images/MichaelRoper/IMG_2729.JPG" alt="Textured Bowl" title="Textured Bowl"> In this demonstration
    I will show you how to embellish both spindle and bowl work with the Robert Sorby Spiraling and Texturing Tool. The demonstration
    will focus on creating spiral effects on the rim of a bowl and on the stem of a goblet as well as how to produce a herringbone
    pattern on your work. This demo is appropriate for all skill levels of woodturners. Learn how to embellish different
    textures on anything that yo make.
  </p>
</div>

<div class="presenter">
  <a name="Gisi"></a>
  <h2>Brian Gisi</h2>

  <p><img src="images/BrianGisi/BGisi_Photo.jpg" alt="Brian Gisi" title="Brian Gisi"> I have been a pen designer, turner and
    collector for more than 20 years. I specialize in pushing the boundaries of the traditional pen kit to create pocket
    sized masterpieces. In partnership with my father, our work has been featured in both wood turning and pen publications
    and I have received recognition in both pen and jewelry competitions. My wife and I live in Monument Colorado with our
    12 year old son and a cat. Outside the shop, I make my living as a Technical Manager for the IBM.
  </p>

  <h3>Theme Pen Design and Construction - Medieval</h3>
  <p>
    <img src="images/BrianGisi/IMG_1353.jpg" alt="Medieval Pen" title="Medieval Pen">
    <img class="right" src="images/BrianGisi/IMG_1351.jpg" alt="Medieval Pen" title="Medieval Pen">
     This session will cover
    design and construction techniques to create a medieval themed pen. Topics covered in the session include stone block
    designs, do it yourself overlays, castle motif tricks and decorative accent ideas. Techniques include overlapping tube
    construction, on lathe build process and general construction ideas. Items covered in the session can be applied to both
    kit and custom work.
  </p>

  <h3>Advanced Pen Design and Construction</h3>
  <p>
    <img src="images/BrianGisi/IMG_0374.JPG" alt="Advanced Pen" title="Advanced Pen">
    <img class="right" src="images/BrianGisi/IMG_2069.JPG" alt="Advanced Pen" title="Advanced Pen">
     This session will cover
    advanced techniques to take your pen turning to the next level. Topics covered in the session include breaking free from
    kit limitations, frame and shell construction, shaped and turned embellishments and general design considerations. Techniques
    discussed can be applied to differentiate your kit products from the mainstream or the construction of a completely custom
    writing instrument.
  </p>
</div>

<div class="presenter">
  <a name="Fleming"></a>
  <h2>Joe Fleming</h2>
  <h3><a href="http://www.airbrushingwood.com/about.html" target="_blank">Airbrushing Wood</a></h3>

  <p>
    <img src="images/JoeFleming/fleming-headshot.jpg" alt="Joe Fleming" title="Joe Fleming"> Woodworking provides me with
    an outlet for my creativity. I enjoy finding a piece of wood, envisioning what it can become, and then transforming it
    into a beautiful art or craft piece. I make both art pieces and functional pieces, but I always strive for beauty. My
    woodturning consists all types of turning disciplines including bowls, hollow forms, platters, vases, boxes and furniture
    components. I use a variety of wood species in my work including local urban forested woods like eucalyptus, and other
    reclaimed wood. I also use wood from certified forestry projects in the Pacific Northwest, Mexico and Australia.
  </p>
  <p> I have been an amateur woodworker for over 40 years and an amateur woodturner for more than 15 years. My skills are primarily
    self-taught with assists from various class work, from woodworking publications, and through participation in various
    woodworking clubs. I have studied with many noted wood artists including, Allan Batty, Stuart Batty, Christian Burchard,
    Jimmy Clewes, Don Derry, Michael, Hosaluk, John Jordan, Binh Pho, Richard Raffan, Merryll Saylan, and Susan Working.
    My dad gets the credit for instilling in me a passion for hand-made wood items.
  </p>
  <!-- <h3>Hands-On Session: Airbrushing Basics</h3> -->

  <div class="coming-soon">
    Demonstration details coming soon.
  </div>
</div>
