<!-- Demonstrators -->

<h1>2018 Presenters</h1>

<div class="demonstrators">
<div class="note">
  More details, including descriptions of the demonstrations and more demonstrators is coming soon.
  Please keep checking back for updates.
</div>

<div class="presenters">
  <ul>
    <li>Mike Mahoney</li>
    <li>Dale Larson</li>
    <li>Jason Breach</li>
    <li>Sally Ault</li>
    <li>Merryll Saylan</li>
    <li>Trent Bosch</li>
    <li>Doug Schneiter</li>
    <li>Michael Roper</li>
    <li>Brian Gisi</li>
  </ul>
</div>
</div>
