<!-- Demonstrators -->

<h1>2018 Presenters</h1>

<div class="presenters">
  <div class="coming-soon">We are still working to build a fantastic program for you. More details are in the works! Please keep checking back for updates.
  </div>

  <ul>
    <li><a href="presenter.html#Mahoney">Mike Mahoney</a></li>
    <li><a href="presenter.html#Larson">Dale Larson</a></li>
    <li><a href="presenter.html#Breach">Jason Breach</a></li>
    <li><a href="presenter.html#Ault">Sally Ault</a></li>
    <li><a href="presenter.html#Saylan">Merryll Saylan</a></li>
    <li><a href="presenter.html#Bosch">Trent Bosch</a></li>
    <li><a href="presenter.html#Schneiter">Doug Schneiter</a></li>
    <li><a href="presenter.html#Roper">Michael Roper</a></li>
    <li><a href="presenter.html#Gisi">Brian Gisi</a></li>
  </ul>
</div>

<div class="presenter">
  <a name="Mahoney"></a>
  <h2>Mike Mahoney</h2>
  <h3><a href="http://bowlmakerinc.com" target="_blank">bowlmakerinc</a></h3>

  <p>
    <img src="images/demos/MikeMahoney/mike.jpg" alt="Mike Mahoney"> Mike Mahoney has been a professional wood turner since 1994. His bowls are featured in galleries across the United States. Mike's work is sought after by collectors all over the world.
    Mike is often requested to demonstrate and teach for wood turning clubs, craft schools and symposia. He has traveled around the world to discuss and demonstrate his craft. He is considered an authority in woodturning.
  </p>
  <p>
    For more information on attending Mike's classes, see the workshop info sheet. For more discussion on woodturning, read Mike's blog at <a href="http://mikemahoney.bowlmakerinc.com/" target="_blank">mikemahoney.bowlmakerinc.com</a>.
  </p>
  <p>
    Artist Statement: &quot;I am passionate about my craft and the American Craft movement. I am dedicated to producing quality craft and educating the public about woodturning. My wood comes from urban sources (tree trimmers and local cities). I produce
    all my work on the lathe without any emblellishments after the fact, creating a very traditional feel with contemporary ideas. I want my work to be attractive as well as useful. For my work to be admired is one thing, but for my work to be used fulfills
    my purpose as a craftsman.&quot;
  </p>

  <div class="coming-soon">
    Demonstration details coming soon.
  </div>
</div>

<div class="presenter">
  <a name="Larson"></a>
  <h2>Dale Larson</h2>
  <h3><a href="http://www.finewoodartists.com/gallery/larson/dale_larson.htm" target="_blank">Dale's Profile on finewoodartists.com</a></h3>

  <p>
    <img src="images/demos/DaleLarson/dale_larson.jpg" alt="Dale Larson"> Dale Larson has been turning wood for over 38 years.
  </p>
  <p>
    Located in Gresham, Oregon, Dale primarily turns bowls from local hardwoods such as Pacific Madrone and Big Leaf Maple. His work is both functional and beautiful and much admired by collectors and wood workers alike. His bowls can be found in private
    collections all over the world.
  </p>
  <p>
    Dale often demonstrates his bowl and sphere turning at the American Association of Woodturners (AAW) Symposiums in the USA. He has demonstrated at the Ripon Symposium in England and regional symposiums around the United States. He has taught at Arrowmont
    School and John C Campbell School. Dale has published articles in several wood working and wood turning journals including The American Woodturner.
  </p>
  <p>
    Dale is a founding member and past president of the Portland area Cascade Woodturners. Dale has been an active member of the AAW for over 27 years, serving on the AAW Board of Directors from 2009-2014 in the capacity of symposium chair and then president.
  </p>

  <div class="coming-soon">
    Demonstration details coming soon.
  </div>
</div>

<div class="presenter">
  <a name="Breach"></a>
  <h2>Jason Breach</h2>
  <h3><a href="http://www.jasonbreach.co.uk" target="_blank">Jason Breach Woodturner</a></h3>

  <p>
    <img src="images/demos/JasonBreach/Jason_Breach_woodturning.jpg" alt="Jason Breach">
    My passion for wood started at an early age, and with the love and encouragement of my family I started woodturning as a hobby. My parents were very supportive enabling
    me to attend Parnham House for weeklong courses. Leaving school at 17 I attended Buckingham College in High Wycombe from where I graduated aged 21 with a BA HONS in Furniture Design and Management. I enjoy the challenge of making complex items of
    furniture and worked in this field for 6 years. After I was made redundant I took up a position that enables me both to teach my turning skills but also to hone and develop them further. I have now been there for nearly a decade. I now make a range
    of turned items ranging from commissions to craft shop regulars; each is produced to the same exacting standards. I create a range of functional items such as fruit bowls and light pulls to purely decorative items such as boxes and other abstract
    pieces. I also produce solitaire sets where each ball is hand turned in a different timber. Please take a look at my gallery for examples of my boxes, solitaire sets and also other items that I have turned. I have now also added Wedding Cake Toppers
    to my range.
  </p>

  <div class="coming-soon">
    Demonstration details coming soon.
  </div>
</div>

<div class="presenter">
  <a name="Ault"></a>
  <h2>Sally Ault</h2>
  <h3><a href="http://www.sallyault.com/" target="_blank">sallyault.com</a></h3>

  <div class="centered">
    <img src="images/demos/SallyAult/Sally_photo.jpg" alt="Sally Ault">
    <img src="images/demos/SallyAult/Sallys_Shop.jpg" alt="Sally's Shop">
  </div>

  <p>
    I was born and raised in San Diego, California and graduated with a BA degree in Art with a Crafts emphasis from San Diego State. My work there was focused on Weaving, Jewelry Design and Ceramics. During a furniture class, I discovered woodturning. After
    a break of a number of years, I resumed woodturning in 2004.
  </p>
  <p>
    <img src="images/demos/SallyAult/Sea_Urchin_and_persimmon.jpg" alt="Sea Urchin and persimmon container">
    I enjoy all types of wood turning but currently my focus is on lidded containers including the sea Urchin series, open bowls, embellished pieces
    and jewelry.
  </p>
  <p>
    My work is shown in the Dunn Gallery in Hawaii, Hawaii, The Real Mother Goose in Portland, Oregon, The gift shop at Anderson Ranch Arts Center in Snowmass, Colorado, at The A Store in Albuquerque, New Mexico and in the gallery at Studio 38 in Spanish
    Village Art Center in Balboa Park, San Diego.
  </p>
  <p>
    I have won several prizes over the past 3 years at the Design in Wood Show at the Del Mar Fair. In 2010 I was awarded a &quot;Best in Class&quot; ribbon for a Myrtle Wood Platter and in 2011 a Maple Hollow Vessel was awarded the San Diego Woodturners
    Special Award. My Sea Urchin Box won a special purchase award at the 2012 Small Image Show at Spanish Village. My Box Elder Burl and Coral piece won an award at the 2014 Small Image Show.
  </p>
  <p>
    I was a demonstrator at the 2012 Utah Woodturning Symposium in Orem, Utah, the 2012 Wisconsin woodturning Symposium and at a number of woodturning clubs across the country. In fall of 2013 I was accepted for a 10 week Artist in Residency program at Anderson
    Ranch Arts Center.
  </p>
  <p>
    I am a member of the San Diego Woodturners Association, American Association of Woodturners, Point Loma Artists Association and Spanish Village Art Center in San Diego.
  </p>

  <div class="coming-soon">
    Demonstration details coming soon.
  </div>
</div>

<div class="presenter">
  <a name="Saylan"></a>
  <h2>Merryll Saylan</h2>
  <h3><a href="http://www.merryllsaylan.com/" target="_blank">merryllsaylan.com</a></h3>

  <p>
    <img src="images/demos/MerryllSaylan/saylan-headshot.jpg" alt="Merryll Saylan">
    Merryll Saylan lives and maintains a studio in Berkeley, California. Educated with a BA in Design from UCLA and an MA in Art from California State University Northridge, her work has been exhibited in many museums and galleries, including the Renwick
    Gallery, Museum of Art & Design, and the Yale University Art Gallery. Her pieces have been included in numerous shows such as Turning Wood into Art at The Mint Museum, Turned Wood Now at Arizona State University Museum, and the opening exhibition
    at the Museum of Arts & Design. A leader in the use of color and texture on wood and a valued authority in wood turning method, Saylan’s writings on art, techniques, and the woodturning field have been published in books and magazines.
  </p>
  <p>
    <img src="images/demos/MerryllSaylan/saylan-newbowl.jpg" alt="Bowl">
    Saylan’s influence in the wood and craft communities is also felt through her teaching practice and her involvement in numerous arts organizations, serving on the boards of both The Wood Turning Center and the American Association of Woodturners and as
    a Master Member in the Baulines Guild. Saylan participated in Artist-in-Residence programs in the United States and England including Grizedale Sculpture Park, Cumbria, England; International Turning Exchange sponsored by The Wood Turning Center;
    and Anderson Ranch Arts Center, Colorado. She was a Visiting Artist and taught at CCA in San Francisco. In 2004, the US Department of State’s ART in Embassies Program sent her to Fiji to hold a series of public lectures and workshops where her work
    is on display at the US Embassy. She was invited to participate in the Smithsonian Archives of American Art and has recently finished working on that documentation. In 2009, Saylan was AAW, Professional Outreach Program Merit Award Winner.
  </p>
  <p>
    <img src="images/demos/MerryllSaylan/saylan-vessel.jpg" alt="Vessel">
    &quot;Form, contrast, pattern, texture and color are primary themes in my work. Bowls and platters serve as my canvas on which to investigate and explore surface manipulation and
    visual images. The nature of wood - with its inherent differences in color, grain, texture and density - offers the ground for experimentation with pigments and texture. The recent multiples and installations allow for more complex studies by the
    juxtaposition of one piece to another. Environment has always affected my work and living next to a salt marsh with its movement and patterns from tidal action is reflected on my surfaces. I have been influenced and attracted to the work and themes
    of artists such as Morandi, Wayne Thiebaud, Agnes Martin, and Hans Coper.&quot;
  </p>

  <div class="coming-soon">
    Demonstration details coming soon.
  </div>
</div>

<div class="presenter">
  <a name="Bosch"></a>
  <h2>Trent Bosch</h2>
  <h3><a href="http://trentbosch.com" target="_blank">trentbosch.com</a></h3>

  <p>
    <img src="images/demos/TrentBosch/Trent-Bosch.jpg" alt="Trent Bosch">
    Working with wood is part of my everyday life. It is my connection to the earth and the environment in which I live. While pursuing my Bachelor of Fine Arts degree in photography
    and sculpture, I became interested in the art of woodturning.
  </p>
  <p>
    My philosophy has always been to work in harmony with our environment and not to destroy something in order to create something. In all my art, I use only recycled and easily sustainable woods. Being conscious of this has allowed me to work with the subtle
    beauty and dimension this discarded wood possesses.
  </p>
  <p>
    My intent as an artist is to express my feelings about nature, my family and natural processes. I work in series or bodies of work, which allows me to explore these issues in depth. Throughout the creative process I am continually reminded that I have
    not and will not ever be content. I will continue to create and strive for that body of work that has yet to be conceived.
  </p>


  <div class="coming-soon">
    Demonstration details coming soon.
  </div>
</div>

<div class="presenter">
  <a name="Schneiter"></a>
  <h2>Doug Schneiter</h2>

  <p>
    <img src="images/demos/DougSchneiter/schneiter-headshot.jpg" alt="Doug Schneiter">
    I started woodturning 45 years ago as a wee lad in high school, and still have some of those first projects. Since then, I have hopefully improved my skills and techniques
    during my 26 year career of teaching in schools from Jr. High to University, stretching from Iowa to New Mexico and Colorado. I have given demonstrations across the Western U.S., including Utah, Montana, North Dakota, and Colorado at club meetings,
    weekend workshops, and symposiums. I still love to teach, and welcome new opportunities.
  </p>
  <p>
    I am a long time member of the AAW and the Rocky Mountain Woodturners, of which I have been President for 3 separate terms. I was bestowed with the Lifetime Achievement Award from the RMWT, and was honored as a &quot;Long-time Friend of the Utah Woodturning
    Symposium&quot; in 2014. I have shown my work in several shows, including Cheyenne's Western Spirit Art Show and Sale, and as a 6-time artist at Loveland's Sculpture In the Park.
  </p>
  <p>
    <img src="images/demos/DougSchneiter/schneiter-hollowform.jpg" alt="Hollow Form">
    My work reflects my appreciation and respect for the natural beauty of wood through my minimalistic approach that accentuates the natural colors, grain patterns, and
    characteristics of the timber, without too much embellishment competing with those strengths.
  </p>

  <div class="coming-soon">
    Demonstration details coming soon.
  </div>
</div>

<div class="presenter">
  <a name="Roper"></a>
  <h2>Michael Roper</h2>
  <h3><a href="http://www.roperwoodturning.com/" target="_blank">roperwoodturning.com</a></h3>

  <p>
    <img src="images/demos/MichaelRoper/roper-headshot.jpg" alt="Michale Roper">
    Michael Roper is a professional woodturner and woodturning teacher who currently teaches at the Red Rocks Community College Fine Woodworking program. Roper is a third generation
    carpenter who fell in love with woodturning during his Associate of Applied Sciences degree at Red Rocks.
  </p>
  <p>
    Roper is the winner of the following awards: 2010 and 2012 Educational Opportunity Grant, April 2011 Turning Challenge (Front Range Woodturners), 2010 Collegian Award, 2011 Collegian Excellence Award (American Association of Woodturners), and 2011 1st
    Place Art Sculpture (Denver County Fair). His work has been featured in Woodturning Magazine (Oct 2012 no 45 pg 76), American Woodturner (Oct 2011 no 5 pg 1)
  </p>
  <p>
    <img src="images/demos/MichaelRoper/roper-multi-axis-hollow-form-380x250@2x.jpg" alt="Multi-Axis Hollow Form">
    Roper often chooses the pieces of wood that no other woodturner would dream of turning. Many of his best projects came from wood pieces
    that were the last on the table, pieces that were discarded by the rest of the woodturning community as ‘ugly’ or ‘impossible to turn’. Roper is constantly pushing himself to grow as a woodturner, his favorite projects are the ones other woodturners
    told him he couldn’t do.
  </p>

  <div class="coming-soon">
    Demonstration details coming soon.
  </div>
</div>

<div class="presenter">
  <a name="Gisi"></a>
  <h2>Brian Gisi</h2>

  <div class="coming-soon">
    Details coming soon.
  </div>
</div>
