<!-- Registration -->

<h1>Rocky Mountain Woodturning Symposium 2018 Registration and Payment</h1>

<div class="registration">

  <h2>Mail-in Registration</h2>
  <p>
    Download the application <a href="images/pdf/2018-registration-form.pdf" target="_blank">here</a>, fill it out completely,
    and mail it as indicated on the form.
  </p>

  <h2>Online Registration</h2>

  <h3>Instructions</h3>
  <p>
    Use the forms below to enter your registration information and any meals that you desire. Then click on "Add to Cart" in
    each category. Carefully review your items and then "Check Out" from the shopping cart.
  </p>
  <p>
    Please fill out all requested information.
  </p>

  <div class="registration-category">
    <h3>Registration</h3>
    <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="62UCYAFJLS7J4">

      <div class="registration-item">
        Registration
        <input type="hidden" name="on0" value="Registration">
        <select name="os0">
          <option value="Single prior to Aug 15">Single prior to Aug 15 $170.00 USD</option>
          <option value="Couple">Couple $290.00 USD</option>
          <option value="Student 18-25">Student 18-25 $85.00 USD</option>
          <option value="Teacher">Teacher $120.00 USD</option>
          <option value="Saturday only">Saturday only $110.00 USD</option>
        </select>
      </div>

      <div class="registration-item">
        Will you attend a free Friday evening Demonstrator Meet & Greet?
        <input type="hidden" name="on1" value="Will you attend a free Friday evening Demonstrator Meet & Greet">
        <select name="os1">
          <option value="No">No</option>
          <option value="Yes 1 person">Yes 1 person</option>
          <option value="Yes 2 people">Yes 2 people</option>
          <option value="Yes 3 people">Yes 3 people</option>
          <option value="Yes 4 people">Yes 4 people</option>
        </select>
      </div>

      <div class="registration-item">
        Students under 18 admitted free with registrant
        <input type="hidden" name="on2" value="Students under 18 admitted free with registrant">
        <select name="os2">
          <option value="None">None</option>
          <option value="1 student">1 student</option>
          <option value="2 students">2 students</option>
          <option value="3 students">3 students</option>
          <option value="4 students">4 students</option>
        </select>
      </div>

      <div class="registration-item">
        How did you learn about RMW Symposium?
        <input type="hidden" name="on3" value="How did you learn about RMW Symposium">
        <select name="os3">
          <option value="Other">Other</option>
          <option value="Mailed brochure">Mailed brochure</option>
          <option value="Brochure from another source">Brochure from another source</option>
          <option value="AAW Journal Ad">AAW Journal Ad</option>
          <option value="AAW Journal Events">AAW Journal Events</option>
          <option value="Another magazine">Another magazine</option>
          <option value="Woodturning Club">Woodturning Club</option>
          <option value="Word of Mouth">Word of Mouth</option>
          <option value="Newspaper">Newspaper</option>
        </select>
      </div>

      <div class="registration-item">
        Names for your badge(s)
        <input type="hidden" name="on4" value="Names for your badges">
        <input type="text" name="os4" maxlength="200" size="80">
      </div>

      <div class="registration-item">
        Phone number for contact
        <input type="hidden" name="on5" value="Phone number for contact">
        <input type="text" name="os5" maxlength="200" size="20">
      </div>

      <div class="registration-checkout">
        <input type="hidden" name="currency_code" value="USD">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      </div>

    </form>
  </div>

  <!-- Aug 15
  <div class="registration-category">
    <h3>Registration</h3>

  <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="EDDX3NHWXWF4Q">

    <div class="registration-item">
      Registration
      <input type="hidden" name="on0" value="Registration">
      <select name="os0">
        <option value="Single">Single $190.00 USD</option>
        <option value="Couple">Couple $290.00 USD</option>
        <option value="Student 18-25">Student 18-25 $85.00 USD</option>
        <option value="Teacher">Teacher $120.00 USD</option>
        <option value="Saturday only">Saturday only $110.00 USD</option>
      </select>
    </div>

    <div class="registration-item">
      Will you attend a free Friday evening Demonstrator Meet & Greet?
      <input type="hidden" name="on1" value="Will you attend a free Friday evening Demonstrator Meet & Greet">
      <select name="os1">
        <option value="No">No</option>
        <option value="Yes 1 person">Yes 1 person</option>
        <option value="Yes 2 people">Yes 2 people</option>
        <option value="Yes 3 people">Yes 3 people</option>
        <option value="Yes 4 people">Yes 4 people</option>
      </select>
    </div>

    <div class="registration-item">
      Students under 18 admitted free with registrant
      <input type="hidden" name="on2" value="Students under 18 admitted free with registrant">
      <select name="os2">
        <option value="None">None</option>
        <option value="1 student">1 student</option>
        <option value="2 students">2 students</option>
        <option value="3 students">3 students</option>
        <option value="4 students">4 students</option>
      </select>
    </div>

    <div class="registration-item">
      How did you learn about RMW Symposium?
      <input type="hidden" name="on3" value="How did you learn about RMW Symposium">
      <select name="os3">
        <option value="Mailed brochure">Mailed brochure</option>
        <option value="Brochure from another source">Brochure from another source</option>
        <option value="AAW Journal Ad">AAW Journal Ad</option>
        <option value="AAW Journal Events">AAW Journal Events</option>
        <option value="Another magazine">Another magazine</option>
        <option value="Woodturning Club">Woodturning Club</option>
        <option value="Word of Mouth">Word of Mouth</option>
        <option value="Newspaper">Newspaper</option>
        <option value="Other">Other</option>
      </select>
    </div>

    <div class="registration-item">
      Names for your badge(s)
      <input type="hidden" name="on4" value="Names for your badges">
      <input type="text" name="os4" maxlength="200" size="80">
    </div>

    <div class="registration-item">
      Phone number for contact
      <input type="hidden" name="on5" value="Phone number for contact">
      <input type="text" name="os5" maxlength="200" size="20"></td>
    </div>

    <div class="registration-checkout">
      <input type="hidden" name="currency_code" value="USD">
      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    </div>

  </form>
</div>
-->

  <div class="registration-category">
    <h3>Additional Banquet Meals</h3>
    <p>
      The Saturday evening Banquet is included with Single, Couple, and Teacher registrations. Meals for guests or other
      attendees can be added to your shopping cart here. You may return later and add the banquet separately (just skip the
      above registration section).
    </p>

    <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="TEVXWYDAX44DC">

      <div class="registration-item">
        Saturday Banquet
        <input type="hidden" name="on0" value="Saturday banquet">
        <select name="os0">
            <option value="1 additional">1 additional $40.00 USD</option>
            <option value="2 additional">2 additional $80.00 USD</option>
            <option value="3 additional">3 additional $120.00 USD</option>
            <option value="4 additiional">4 additiional $160.00 USD</option>
        </select>
      </div>

      <div class="registration-item">
        Number of Vegetarian entrees of the total ordered
        <input type="hidden" name="on1" value="number of Vegetarian entrees of the total ordered">
        <select name="os1">
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
        </select>
      </div>

      <div class="registration-checkout">
        <input type="hidden" name="currency_code" value="USD">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      </div>
    </form>
  </div>

  <p>
    When you have finished filling out the registration, Check Out from the shopping cart. Use the "PayPal Checkout" (if you
    have a PayPal account) or the "Checkout" button (to checkout without a PayPal account).
  </p>

</div>
