<!-- Program and Schedule -->

<h1>Rocky Mountain Woodturning Symposium Schedule</h1>

<div class="schedule">
  <div class="note">Update September 4, 2018</div>
  <ul>
    <li><a href="presenter.html#Gisi">Brian Gisi</a> is now doing a session entitled "Pen Segmentation Techniques". We do not have any other description yet.</li>
    <li>Switched rotation 2 and 3 between <a href="presenter.html#Saylan">Merryll Saylan</a> and <a href="presenter.html#Gisi">Brian Gisi</a>.  Now there is a little less alignment with pen demos and pen hands-on sessions.</li>
    <li><a href="presenter.html#Saylan">Merryll Saylan</a> is now doing a new topic during the second rotation entitled "More Playing with Paint".  We added info to <a href="presenter.html#Saylan">her demonstration descriptions</a>.</li>
  </ul>

  <div class="note">Update August 11, 2018</div>
  <ul>
    <li><a href="presenter.html#Bosch">Trent Bosch</a> is now doing a session on "Larger than Life Bugs"</li>
    <li>Sessions 6 & 7 in Room 5 have been swapped</li>
  </ul>

  <p>
    Download a printable schedule <a href="images/sched/2018-schedule.pdf">here</a>
    <img src="images/sched/2018-schedule.png" alt="2018 Symposium Schedule">
  </p>
</div>
